<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="x-ua-compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psps - @ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/js")
    <!--[if lt IE 9]>
    @Styles.Render("~/bundles/css-ie8")
    @Scripts.Render("~/bundles/js-ie8")
    <![endif]-->
</head>
<body class="orange-skin">
    @RenderBody()
</body>
</html>