@model Psps.Web.ViewModels.Account.ChangePasswordViewModel

@{
    ViewBag.Title = Labels.ChangePassword_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="changePasswordFrom" class="form-horizontal" role="form">
    @Html.BootstrapValidationSummary()
    <fieldset>
        <div id="user-change-password">
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    @Html.PasswordFor(m => m.OldPassword, true, new { @class = "form-control", id = "oldPassword" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    @Html.PasswordFor(m => m.NewPassword, true, new { @class = "form-control", id = "newPassword" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmNewPassword, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    @Html.PasswordFor(m => m.ConfirmNewPassword, true, new { @class = "form-control", id = "confirmNewPassword" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right">
                    <button id="btnSavePassword" name="save" type="button" class="btn btn-sm btn-primary">
                        <span class="icon-ok"></span>&nbsp;@Labels.Update</button>
                    <button id="btnCancel" type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                        <span class="icon-remove"></span>&nbsp;@Labels.Cancel</button>
                </div>
            </div>
        </div>
    </fieldset>
    <!-- (20150430) List out the password policy for user reference-->
    <div class="vspace-6"></div>
    <div class="hr dotted"></div>
    <div class="remarks bigger-120">
        <div class="row">
            <!--<div class="col-xs-12">
                <strong>-->
                    <!--<em>Password Policy [Based on "Password Management Guidelines for SWD (ISTB-GEN-004-GP, Version 2.0)]" </em>-->
                    <!--<em>Password Policy [Based on "OGCIO IT Security Guidelines G3 (Version 9.0)]" </em>
                </strong>
            </div>-->
        </div>
        <div class="row">
            <!---<div class="col-xs-12">
                <ul>
                    <li>Password change interval: 90 days</li>
                    <li>Minimum password length: 8 characters for users and 8 characters for System Administrators</li>
                    <li>Password composition: A composition of mixed-case alphabetic characters , numerals and special characters. (e.g.  RrSqF2m4c#)</li>
                    <li>Password history(i.e, users should not repeat previous passwords): 8 previous passwords</li>
                </ul>
            </div>--->
            <div class="col-xs-12">
                <h4 class="ogcio_pwd_guide_header">
                    OGCIO IT Security Guidelines G3 
                    <b class="arrow icon-angle-down"></b>
                </h4>
                <ul class="ogcio_pwd_guide_contain">
                    <li>
                        <table class="table ogcio_pwd_guide_table">
                    <thead>
                        <tr>
                            <th scope="col">Control</th>
                            <th scope="col">Settings</th>                            
                        </tr>
                    </thead>
                    <tr>
                        <td>Complexity and length</td>
                        <td>
                            <ul>
                                <li>
                                    At least 8 characters with:
                                    <ul>
                                        <li>Mixed-case alphabetic characters (A-Z , a-z)
                                        <li>Numerals (0-9)</li>
                                        <li>Special characters (!&#64;#$%^&*()-=)</li>
                                        <li>(Example : #1234aBC)</li>
                                    </ul>
                                </li>
                                
                                <li style="list-style:none; padding:6px 0;">Or</li>
                                
                                <li>
                                    At least 10 characters with :
                                    <ul>
                                        <li>Mixed-case alphabetic characters (A-Z , a-z)
                                        <li>Numerals (0-9) <b>or</b> Special characters (!&#64;#$%^&*()-=)</li>
                                        <li>(Example : 0aBcDeFgHi, #aBcDeFgHi)</li>
                                    </ul>
                                </li>
                            </ul>
                        </td>                       
                    </tr>
                    <tr>
                        <td>Password history</td>
                        <td>
                            <ul>
                                <li>8 passwords remembered</li>
                            </ul>
                        </td>                        
                    </tr>
                    <tr>
                        <td>Account lockout</td>
                        <td>
                            <ul>
                                <li>After 5 invalid logon attempts</li>
                            </ul>
                        </td>                       
                    </tr>
                    <tr>
                        <td>Password change interval</td>
                        <td>
                            <ul>
                                <li>Every 90 days</li>
                            </ul>
                        </td>                       
                    </tr>
                </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        var ChangePasswordUrl = '@Url.RouteUrl("ChangePassword")';
        var homeUrl = '@Url.RouteUrl("Home")';
        var ChangePassword = '@Url.RouteUrl("ChangePasswordUrl")';
        var $changePasswordFrom = $('#changePasswordFrom');

        function AddLI() {
            debugger;
            let list = $(".alert").find(".alert-warning");
            if (list && list.length > 0) {
                for (let i = 0; i < list.length; i++) {
                    debugger;
                    let msg = $(list[i]).text();
                    if (msg.includes("{l}")) {
                        //replace first {l}
                        msg = msg.replace("{l}", "<ul><li>");
                        msg = msg.replace(/\{l\}/g, "<li>");
                        msg = msg.replace(/\{lx\}/g, "<li style='list-style:none;'>");
                        msg = msg.replace(/\{\/l\}/g, "</li>");
                        msg = msg.substring(0, msg.lastIndexOf("</li>")) + "</li>";
                        msg += "</ul>";
                    }
                    $(list[i]).html(msg);
                }       
            }
        }

        $(function ($) {
            $('#btnSavePassword').click(function () {
               
                if ($changePasswordFrom.valid()) {
                    var actionUrl = ChangePassword;

                    $changePasswordFrom.ajaxPostForm(actionUrl,
                        function (response) {
                            debugger;
                            if (response.errors) {
                                notifError(response.errors, AddLI());
                            } else {
                                notifSuccess(response.message, redirectTo(homeUrl));
                            }
                        },
                        null,
                        function () {
                            AddLI();
                        }
                    );
                } else {
                    AddLI();
                }
            });

            $('#btnCancel').click(function () {
                redirectTo(homeUrl);
            });

            $(".ogcio_pwd_guide_header").click(function () {
                $(".ogcio_pwd_guide_contain").slideToggle();
            });
        });

        
    </script>
}