@model Psps.Web.ViewModels.Account.ChangePasswordViewModel

@{
    ViewBag.Title = Labels.ChangePassword_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="changePasswordFrom" class="form-horizontal" role="form">
    @Html.BootstrapValidationSummary()
    <fieldset>
        <div id="user-change-password">
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    @Html.PasswordFor(m => m.OldPassword, true, new { @class = "form-control", id = "oldPassword" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    @Html.PasswordFor(m => m.NewPassword, true, new { @class = "form-control", id = "newPassword" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmNewPassword, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-4">
                    @Html.PasswordFor(m => m.ConfirmNewPassword, true, new { @class = "form-control", id = "confirmNewPassword" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right">
                    <button id="btnSavePassword" name="save" type="button" class="btn btn-sm btn-primary">
                        <span class="icon-ok"></span>&nbsp;@Labels.Update</button>
                    <button id="btnCancel" type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                        <span class="icon-remove"></span>&nbsp;@Labels.Cancel</button>
                </div>
            </div>
        </div>
    </fieldset>
    <!-- (20150430) List out the password policy for user reference-->
    <div class="vspace-6"></div>
    <div class="hr dotted"></div>
    <div class="remarks bigger-120">
        <div class="row">
            <div class="col-xs-12">
                <strong>
                    <em>Password Policy [Based on "Password Management Guidelines for SWD (ISTB-GEN-004-GP, Version 2.0)]" </em>
                </strong>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li>Password change interval: 90 days</li>
                    <li>Minimum password length: 8 characters for users and 8 characters for System Administrators</li>
                    <li>Password composition: A composition of mixed-case alphabetic characters and numerals. (e.g.  RrSqF2m4c)</li>
                    <li>Password history(i.e, users should not repeat previous passwords): 5 previous passwords</li>
                </ul>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        var ChangePasswordUrl = '@Url.RouteUrl("ChangePassword")';
        var homeUrl = '@Url.RouteUrl("Home")';
        var ChangePassword = '@Url.RouteUrl("ChangePasswordUrl")';
        var $changePasswordFrom = $('#changePasswordFrom');

        $(function ($) {
            $('#btnSavePassword').click(function () {
                if ($changePasswordFrom.valid()) {
                    var actionUrl = ChangePassword;

                    $changePasswordFrom.ajaxPostForm(actionUrl,
                         function (response) {
                             if (response.errors) {
                                 notifError(response.errors);
                             } else {
                                 notifSuccess(response.message, redirectTo(homeUrl));
                             }
                         }
                    );
                }
            });

            $('#btnCancel').click(function () {
                redirectTo(homeUrl);
            });
        });
    </script>
}